:host {
   background-color: var(--lumo-shade-5pct) !important;
   --vaadin-app-layout-navbar-background: var(--lumo-base-color);
 }
 [part="content"] {
   height: 100%;
 }
 [part="navbar"] {
   z-index: 200;
   box-shadow: 0 0 16px 2px var(--lumo-shade-20pct);
 }
 